nltk==3.8.1
numpy==1.26.3
pandas==1.5.3
plotly==5.9.0
scikit-learn==1.2.2
sentence-transformers==2.2.2
streamlit==1.18.0
streamlit-option-menu==0.3.4
streamlit-aggrid==0.3.6
altair==4.2.0
torch==2.1.2
tqdm==4.66.1

